@use "blocks/header";
@use "blocks/footer";

@use "blocks/catalog-menu";
@use "blocks/contacts";
@use "blocks/dropdown";
@use "blocks/banner.scss";
@use "blocks/products";
@use "blocks/blogs";
@use "blocks/catalog";
@use "blocks/videos";
@use "blocks/reviews";
@use "blocks/advantages";
@use "blocks/feedback";
@use "blocks/feedback-popup";
@use "blocks/product-card";
@use "blocks/pagger";