@use "blocks/media/header";
@use "blocks/media/footer";

@use "blocks/media/burger";
@use "blocks/media/catalog-menu";
@use "blocks/media/contacts";
@use "blocks/media/dropdown";
@use "blocks/media/producs-card";