@media screen and (max-width: 1020px) {
  .header__burger {
    display: block !important;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    z-index: 97;
    span {
      width: 34px;
      height: 3px;
      background: #50575B;
      position: absolute;
      top: 50%;
      left: 0;
      margin: -1px 0 0 0;

      transition: all .2s;
      &:before {
        content: "";
        width: 34px;
        height: 3px;
        background: #50575B;
        position: absolute;
        left: 0;
        transition: transform .2s;
        top: -8px;
      }
      &:after {
        content: "";
        width: 34px;
        height: 3px;
        background: #50575B;
        position: absolute;
        left: 0;
        transition: transform .2s;
        bottom: -8px;
      }
    }
  }
  .header__burger.is-active {
    span {
      background: transparent;
      &:before {
        transform: rotate(45deg);
        top: 0;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 0;
      }
    };
  }

  .burger-menu {
    display: block !important;
    position: fixed;
    top: 60px;
    left: -100%;
    height: calc(100vh - 60px);
    width: 100%;
    transition: all 0.3s ease 0s;
    z-index: 10;
    

    &.active {
      left: 0;
    }

    &.active .burger-menu__shadow {
      opacity: 1;
      pointer-events: all;
    }
   
    &__heading {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 15px;
    }

    &__close {
      cursor: pointer;
      height: 40px;
      width: 40px;
      text-transform: uppercase;
    }
    .header__catalog{
      display: block;
    }
    &__content {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background: #F7F7F8;
      z-index: 150;
      padding: 8px 16px;
      overflow: auto;
      padding-bottom: 56px;
    }

    &__card {
      padding: 20px 0;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        list-style-type: none;
        padding: 0;
        a {
          font-weight: 700;
          font-size: 14px;
          text-transform: uppercase;
          color: #50575b;

          text-decoration: none;

          display: block;
        }
        .very-popular {
          color: #fff;
          padding: 10px 7px;
          border-radius: 8px;
          background: #6ede73;
        }
      }
    }
    &__menu {
      padding: 8px 0 16px;
      .main-menu{
        margin-bottom: 16px;
        li{
          a{
            font-size: 15px;
            font-weight: 600;
            color: #2C3336;
            padding: 10px 0;
          }
        }
      }
      .menu{
        // margin-bottom: 16px;
        li{
          border-bottom: 1px solid #E1E1E5;
          padding: 10px 0;

          &:last-child{
            border-bottom: none;
          }
          a{
            font-size: 15px;
            font-weight: 400;
            color: #70828A;
            
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
      }
      li {
        display: flex;
        flex-direction: column;
        width: 100%;
        svg {
          transition: all .2s;
        }
      }
      li.is-active {
        svg {
          transform: rotate(180deg);
        }
      }
      a, span {
        font-weight: 500;
        font-size: 14px;
        color: #929ea6;
        text-decoration: none;
      }

      &_trigger {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &_sub {
        margin-top: 20px;
        display: none;
      }
    }
    &__contacts {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;

      &_left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .header__whatsapp{
          margin-left: auto;
          margin-right: 0;
        }
      }
      &_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
    }
    &__phone {
      width: 46px;
      min-width: 46px;
      height: 46px;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid #e6e6e6;
      border-radius: 71px;
    }
    .header__feedback{
      font-size: 14px;
      padding: 12px;
      font-weight: 500;
      line-height: 95%;
    }
    .has-sublist__arrow{
      top: 9px;
    }
    .catalog-menu__link{
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 576px) {
  .burger-menu__contacts_left {
    gap: 8px;
  }
}
