@media screen and (max-width: 768px) {
  .pagger {
    padding: 16px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
}