@media (max-width: 1020px) {
  .product__card-swiper {
    overflow: visible !important;
  }
}

@media (max-width: 768px) {
  .product__card-title{
    font-size: 18px;
  }
  .product__card-nav{
    display: none;
  }
  .product__card-header{
    margin-bottom: 16px;
  }
  .product__card-swiper .swiper-slide{
    width: 188px;
  }
  .product__card {
    gap: 8px;
  }
  .product__card-image{
    height: 188px;
    .product__card-sticker {
      width: 47px;
      height: 20px;
    }
  }
  .product__card-name{
    font-size: 14px;
    margin: 0;

    height: auto;

    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
  .product__card-spec{
    display: none;
  }
  .product__card-footer{
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 12px;
  }
  .product__card-content {
    gap: 0;
    justify-content: space-between;
  }
  .product__card-price{
    font-size: 18px;
  }
  .product__card-actions{
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .product__card-image{
    height: 188px;
  }
}

@media (max-width: 420px) {
  .product__card-image{
    height: 167.5px;
  }
  .product__card-swiper {
    .product__card-image{
      height: 188px;
    }
  }
}

@media (max-width: 360px) {
  .product__card-image{
    height: 160px;
  }
}