
@media (max-width: 1850px) {
    .catalog_card,
    .catalog_banner{
        width: calc(100% / 5 - 16px);
      &.column-4{
           width: calc(76.75% - 16px);
       }
    }
}
@media (max-width: 1608px) {
    .catalog_card,
    .catalog_banner{
        width: calc(100% / 4 - 16px);
      &.column-4{
        width: calc(76% - 16px);
       }
    }
}
@media (max-width: 1310px) {
    .catalog_banner.column-4{
        min-width: 100%;

    }
    
    
}
@media (max-width: 1209px) {
    .catalog_card,
    .catalog_banner{
        width: calc(100% / 3 - 16px);
          &.column-4{
            width: 100%;
        }
    }
}
@media (max-width: 990px) {
    .catalog_card,
    .catalog_banner{
        &.column-3{
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .catalog_card,
    .catalog_banner{
      width: calc(100% / 2 - 16px);
      &.column-2{
          width: 100%;
      }
      &-img {
        margin-bottom: 8px;
        height: 160px;
      }
      h4 {
        font-size: 14px;
      }
    }
  .catalog_card-img {
    padding: 16px;
  }
  .catalog_cards {
    row-gap: 20px;
    margin: 0;
    column-gap: 8px;
  }
}

@media (max-width: 480px) {
  .catalog_banner-ads {
    height: 80px;
    margin-bottom: 0;
  }
}