.catalog_cards{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 16px;
    margin-bottom: 80px;
}

.catalog_card{
    width: calc(100% / 6 - 16px);
    flex-grow: 1;
    max-width: 760px;

    &-img{
        height: 293px;
        border-radius: 16px;
        padding: 24px;
        overflow: hidden;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        transition: all .3s ease;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    h4{
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #2C3336;
        text-align: center;
    }
    &:hover{
        .catalog_card-img{
             background: #E2E3E9;
            
        }
       
    }
}
.catalog_banner{
    width: calc(100% / 6 - 16px);
    flex-grow: 1;

    &.column-2{
        // width: calc(100% / 3 - 16px);
        width: 602px;
        flex-shrink: 0;
    }
    &.column-3{
        // width: calc(100% / 2 - 16px);
        width: 912px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &.column-4{
        width: calc(66.36% - 16px);
        // width: 1221px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &-img{
        width: 100%;
        height: 293px;
        border-radius: 16px;
        overflow: hidden;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        transition: all .3s ease;

        img{
           width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left
        }
    }
    h4{
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: #2C3336;
        text-align: center;
    }
}