.blog {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    flex-wrap: wrap;

    margin-bottom: 32px;
  }
  &__toggle {
    background: #fff;
    border-radius: 48px;
    padding: 8px;
    button {
      height: 47px;
      padding: 0 16px;

      border-radius: 36px;

      background: none;
      outline: none;
      border: none;

      font-size: 16px;
      color: #2C3336;

      transition: all .3s ease;
      &.active {
        color: #fff;
        background: #0071E3;
        pointer-events: none;
      }
    }
  }
  &__categories {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 32px;
    a {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 16px;

      border-radius: 16px;
      border: 1px solid #E1E1E1;
      padding: 8px 8px 8px 16px;
      color: #2C3336;
      transition: all .3s ease;
      span {
        background: #E1E1E1;
        padding: 2px 7.5px;
        color: #70828A;
        font-size: 14px;
        border-radius: 8px;
        transition: all .3s ease;
      }
      &.active {
        border-color: #0071E3;
        background: #0071E3;
        color: white;
        span {
          background: #fff;
        }
      }
    }
  }
}

