@media (max-width: 1500px) {
    .blog {
        padding-bottom: 16px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

                        > div:nth-child(odd):last-child {
                grid-column: 1/3;
            }
        }
        &__card {
            &_image {
                border-radius: 16px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .blog {
        &__card {
            // max-height: 645px;
            padding: 24px;
            &_image {
                max-height: 267px;
            }
            &_bottom {
                // margin: 0;
            }
        }
    }
}


@media  (max-width: 768px) {
    .blog {
        &__header {
            margin-bottom: 16px;
        }
        &__toggle {
            display: none;
        }
        &__categories {
            margin-bottom: 16px;
            ul {
              flex-wrap: nowrap;
              overflow: auto;
              /* Firefox */
              scrollbar-width: thin;
              scrollbar-color: rgba(137, 137, 137, 0.3) transparent;

              /* Chrome, Safari, Edge */
              &::-webkit-scrollbar {
                height: 1px; // горизонтальный скролл — делаем его тонким
              }

              &::-webkit-scrollbar-track {
                background: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background-color: rgba(137, 137, 137, 0.3);
                border-radius: 4px;
              }
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column; 
            row-gap: 8px;
        }
        &__card {
            flex: 1;
            border-radius: 16px;
            padding: 16px;

            gap: 8px;
            &_image {
                max-height: 235px;
                height: auto;
                border-radius: 8px;
            }
            &_badges {
                span {
                    font-size: 13px;
                }
            }
            &_title {
                font-size: 16px;
            }
            &_desc {
                line-height: 1.27;
                font-size: 14px;
            }
            &_date {
                font-size: 13px;
            }
            &_link {
                line-height: 1.29;
                border-radius: 16px;
                font-size: 14px;
            }
        }
        &__cards {
            line-height: 1.28;
        }
        &__pagger {
            &-more {
            min-width: 127px;
            }
        }
    }
}