@media (max-width: 1700px) {
  .cart { &-list_content {
        flex-wrap: wrap;
        padding: 24px;
      }
      .product__card-slider { .swiper {
      overflow: visible;
      }
    }}}

@media (max-width: 1400px) {
  .cart {
    &-list {
      &_content {
        flex-direction: column;
        align-items:flex-start;
        gap: 16px;
      }
      &_image {
        margin-bottom: 184px;
      }
    }
    &__availability {
      width: 100%;
      &-wrapper {
        width: 100%;
          flex-direction: column;
          align-items: flex-end;
      }
      &-toggle {
      min-width: stretch;
      max-width: 0px;

      }
    }
    &__availability-dropdown {
      max-width: none;
    }
  }
}

@media (max-width: 990px) {
  .cart {
    &-order {
      flex-direction: column;
    }
    &-summary {
      max-width: none;
      &_total {
        margin: 0 auto;
      }
      &_links {
        button {
          &:last-child {
            justify-content: center;
          }
        }
      }
    }
  }
} 

@media (max-width: 768px) {
  .cart {
    padding-bottom: 16px;
    gap: 16px;
    &-head {
        h1 {
          font-size: 22px;
        }
    }
    &-content {
      gap: 24px;
    }
    &-divider {
      display: none;
    }
    &-list {
      &_content {
        gap: 8px;
        padding: 16px 12px 8px 12px;
      }
      &_info {
        max-width: max-content;
        padding-left: 114px;
        h4 {
          font-size: 14px;
          font-weight: 400;
        }
        p {
          font-size: 14px;
        }
      }
      &_image {
        position: absolute;
        top: 0;
        width: 116px;
        height: 116px;
        padding: 8px;
        margin: 0;
      }
      &_price {
        span {
          font-size: 18px;
        }
      }
    }
    &__quantity {
      padding: 8px 12px;
      &-actions {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 30px;
      }
      input {
        font-size: 14px;
      }
    }
    &__availability {
      &-wrapper {
        gap: 8px;
      }
      &_meta {
        gap: 6px;
        &-price {
          p {
            font-size: 12px;
          }
          span {
            font-size: 10px;
          }
        }
        &-city  {
          font-size: 14px;
        }
      }
      &_status {
        &-badge {
          font-size: 14px;
        }
      }
    }
    &__availability-toggle {
      padding: 5.5px 44px 5.5px 16px;
    }
    &__availability-item {
      .cart__availability_meta-city {
          font-size: 14px;
      }
    }
    &__availability-arrow {
      right: 5px;
    }
    &-summary {
      padding: 16px;
      &_total {
        p {
          font-size: 14px;
        }
        span {
          font-size: 24px;
        }
      }
      &_links {
        gap: 8px;
        button {
          padding: 11px;
          font-size: 14px;
          &:last-child {
            padding: 8px 12px;
          }
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
      &__related-header {
        margin-bottom: 16px;
      }
      &__related-title {
        font-size: 18px;
      }
      &__related-wrapper {
        .swiper {
          overflow: visible;
        }
      }
      &__related-nav {
        display: none;
      }
    &__related-item {
        padding: 16px;
        gap: 8px;
    }
    &__related-name {
      font-size: 14px;
    }
    &__related-price {
      font-size: 18px;
    }
    &__related-image {
      width: 80px;
      height: 80px;
    }
    &__related-btn {
      font-size: 14px;
    }
    &__related-counter-value {
      font-size: 14px;
    }
    &__related-item-last a {
      font-size: 14px;
    }
  }
} 

@media (max-width: 345px) {
  .cart {
    &__quantity {
      width: 100%;
    }
    &__quantity-actions {
      flex-direction: column-reverse;
      gap: 8px;
    }
    &__availability {
      &_status {
        &-badge {
          font-size: 12px;
        }
      }
      &-toggle {
        padding: 5.5px 22px 5.5px 16px;
      }
    }
  }
}