.assets {
  padding: 24px 0 80px;

  display: flex;
  gap: 16px;
  &__content {
    flex: 1;
    min-width: 0;
    &_inner {
      padding: 24px;
      background: #fff;
      border-radius: 32px;

      display: flex;
      flex-direction: column;
      gap: 24px;

      margin-bottom: 32px;
    }
  }
  &__banner {
    width: 100%;
    height: 400px;

    border-radius: 16px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.281;
    color: #2C3336;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #70828A;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h4 {

    }
    a {
      color: #0071E3;
      text-decoration: underline;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
    p {
      &.filled {
        background: #E2E3E9;
        padding: 24px;
        border-radius: 24px;
        color: #70828A;
      }
    }
    ul {
      margin: 0;
      li {
        font-weight: 400;
        font-size: 18px;
        color: #70828A;
        &:before {
          content: '—';
          color: #0071E3;
          padding-right: 8px;
        }
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
  &__gallery {
    position: relative;

    &_slider {
      width: 100%;
      border-radius: 32px;
      &-pagger {
        display: none;
      }
    }

    &_item {
      display: block;
      border-radius: 32px;
      height: 400px !important;
      overflow: hidden;
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_next, &_prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 52px;
      height: 52px;
      border-radius: 16px;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 #0000000F;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .2s ease;
      border: none;
      color: #2C3336;
    }

    &_next {
      right: -16px;
    }

    &_prev {
      left: -16px;
    }
  }
  &__images {
    display: grid;
    grid-template: repeat(2, 341px) / repeat(4, 1fr);
    gap: 16px;
    a {
      display: inline-block;
      border-radius: 8px;
      overflow: hidden;

      &:nth-child(n+5) {
        grid-column: span 2;
      }
      &:nth-child(5):nth-last-child(1) {
        grid-column: span 4;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__videos {
    position: relative;

    &_slider {
      width: 100%;
      border-radius: 32px;
      &-pagger {
        display: none;
      }
    }

    &_item {
      border-radius: 32px;
      padding: 32px;
      height: 400px !important;
      overflow: hidden;
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    &_play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 140px;
      height: 140px;
      border-radius: 50%;
      z-index: 2;
      cursor: pointer;
      overflow: hidden;

      svg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);
      }
    }

    &_video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &_next, &_prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 52px;
      height: 52px;
      border-radius: 16px;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 #0000000F;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .2s ease;
      border: none;
      color: #2C3336;
    }

    &_next {
      right: -16px;
    }

    &_prev {
      left: -16px;
    }
  }
  &__video {
    border-radius: 32px;
    padding: 32px;
    height: 400px;
    overflow: hidden;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.3);
    }
    &_play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 140px;
      height: 140px;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;
      overflow: hidden;

      svg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);
      }
    }

    &_video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
  &__table {
    &_title {
      margin-bottom: 24px;
    }
    table {
      overflow-wrap: break-word;
      border-radius: 16px;
      border-collapse: collapse; /* Объединяет границы ячеек */
      border-spacing: 0; /* Убирает расстояние между ячейками */
      overflow: hidden;

      table-layout: fixed;
      width: 100%;
    }
    thead {
      background: #E2E3E9;
      td {
        padding: 8px 16px;
      }
    }
    tbody {
      tr:nth-child(even) {
        background: #F7F7F8;
      }
    }
    td {
      font-weight: 400;
      font-size: 18px;
      color: #70828A;

      padding: 15px 16px;
    }
  }
  &__products {
    position: relative;
    .product__card-image {
      background: #F7F7F8;
    }
    &_title {
      margin-bottom: 24px;
      font-weight: 600;
    }
    &_next, &_prev {
      position: absolute;
      top: 38%;
      transform: translateY(-50%);
      z-index: 2;
      width: 52px;
      height: 52px;
      border-radius: 16px;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 #0000000F;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .2s ease;
      border: none;
      color: #2C3336;
    }

    &_next {
      right: -16px;
    }

    &_prev {
      left: -16px;
    }
  }
  &__share {
    background: #F7F7F8;
    padding: 24px;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        background: #E1E1E5;

        border-radius: 17px;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__back {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color: #2C3336;

    padding: 10px 16px;
    border: 1px solid #E1E1E1;
    border-radius: 16px;
    transition: background 0.3s ease, color 0.3s ease;
    &:hover {
      background: #0071E3;
      color: #fff;
    }
  }

  &__aside {
    width: 100%;
    max-width: 602px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    &_title {
      font-weight: 500;
      font-size: 32px;
      color: #2C3336;
    }
  }
  &__more {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_item {
      padding: 24px;
      background: #FFFFFF;
      border-radius: 32px;

      display: flex;
      flex-direction: column;
      gap: 16px;
      &-title {
        font-weight: 500;
        font-size: 18px;

        color: #2C3336;
      }
    }
    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      flex-wrap: wrap;
    }
    &_link {
      font-size: 16px;
      color: #70828A;
      display: inline-block;

      box-sizing: border-box;

      padding: 10px 16px;

      border: 1px solid #E1E1E5;
      border-radius: 16px;
      transition: background-color .3s ease, color .3s ease;
      &:hover {
        color: #fff;
        background: #0071E3;
      }
      &-mobile {
        display: none;
      }
    }
  }
  &__equipment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_item {
      display: flex;
      align-items: flex-start;
      background: #fff;
      border-radius: 16px;
    }
    &_image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      width: 180px;
      height: 180px;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
    &_content {
      padding: 24px;
    }
    &_top {
      display: flex;
      flex-direction: column;
      gap: 8px;

      margin-bottom: 16px;
    }
    &_title {
      font-weight: 500;
      font-size: 18px;
      color: #2C3336;
    }
    &_desc {
      font-weight: 400;
      font-size: 18px;
      color: #70828A;
    }
    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      flex-wrap: wrap;
    }
    &_price {
      font-weight: 600;
      font-size: 24px;
      color: #2C3336;
      span {
        font-weight: 100;
      }
    }
  }
  &__feedback {
    padding: 24px;

    height: 178px;
    background: linear-gradient(161.01deg, #F0F1F4 19.88%, #C5C7D3 100.56%);
    border-radius: 16px;
    overflow: hidden;

    position: relative;
    h3 {
      max-width: 240px;
      line-height: 1;
      span {
        font-weight: 600;
      }
    }
    img {
      position: absolute;
      right: -9px;
      top: -58px;
    }
    &_link {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      color: #2C3336;

      padding: 14px 24px;
      border: 1px solid #70828A;
      border-radius: 16px;

      margin-top: 16px;
    }
  }
}