@media screen and (max-width: 1300px) {
  .calculator__content {
  &-items {
    padding: 24px 160px 24px 24px;
    h4 {
    }
  }
  &-data {
    ul {
      li {
        white-space: nowrap;
      }
    }
  }
  &-form {
    max-width: 400px; 
  }
  &-image {
    left: 25%;
    top: 225px;  
    width: 408px;
    height: 408px;
  }
  }

  .result__content {
    &-item {
      h4 {
        text-align: center;
        white-space: wrap;
      }
    }
    &-info_wrapper {
      flex: 1;
    }
    &-banner {
      overflow: hidden;
      h4 {
        min-width: auto;
      }
      &_price {
        p {
          white-space: nowrap;
        }
      }
      img {
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .catalog {
    &-aside {
      position: fixed;
      z-index: 99999;
      max-width: 100%;
      inset: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transition:
              opacity .25s ease,
              transform .25s ease,
              visibility .25s;
      &__wrapper {
        width: 100%;
        max-width: 328px;
        overflow: auto;

        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 16px;
      }
      &__jalousie {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;

        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(68px);

        opacity: 0;
        transition: opacity .25s ease;
      }

      &__ads {
        max-height: 140px;
        width: 100%;
        padding: 16px;
        border-radius: 0;
        top: 10%;
        p {
          margin-top: 75px;
          font-size: 18px;
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        //transform: translate(-50%, -50%);

        .catalog-aside__jalousie {
          opacity: 1;
        }
      }
      &__calculator { 
        border-radius: 0 0 16px 16px;
        img {
          left: 35px;
        }
      }
      &__links {
        gap: 0;
      }
    }
    &-filter {
      margin: 0;
      border-radius: 16px 16px 0 0;
      &__close {
        display: block;
      }
      &__mobile-toggle {
        display: flex;
      }
    }
    &-wrapper {
      &__products.grid .product__card {
        width: calc(50% - 8px);
        max-width: 100%;
      }
    }
    &-top {
      &__slider {
        overflow: visible !important;
      }
    }
  }

  .calculator__content {
  &-items {
    padding: 24px 125px 24px 24px;
  }
  &-image {
    left: 28%;
    top: 260px;  
    width: 353px;
    height: 353px;
  }
  }
}

@media screen and (max-width: 925px) {
  .calculator__content {
  &-items {
    padding: 24px;
  }
  &-image {
    display: none;
  }
  }

  .result__content {
  &-items {
    width: 100%;
    flex-direction: column;
  }
  &-item {
    max-width: none;
  }
  }
}

@media screen and (max-width: 768px) {
  .catalog {
    &-categories {
      &__info {
        h3 {
          font-size: 18px;
          margin-bottom: 16px;
          &:not(:first-child) {
            margin-top: 16px;
          }
        }
        p, li {
          font-size: 14px;
        }
      }
      &__toggle {
        margin-top: 16px;
        font-size: 14px;
      }
    }
    &-divider {
      margin: 16px 0;
    }
    &-top {
      margin-bottom: 8px;
      &__title {
        margin-bottom: 16px;
      }
      &__item {
        max-width: 222px;
        padding: 16px;
        img {
          max-width: 91px;
          max-height: 91px;
        }
        &_content {
          gap: 8px;
          font-size: 13px;
        }
      }
    }
    &-adv {
      height: 110px;
      margin-bottom: 0;
    }
    &-sort {
      width: 171px;
      font-size: 14px;
    }
    &-wrapper {
      overflow: hidden;
      &__categories {
        ul {
          flex-wrap: nowrap;
          overflow: auto;

          /* Firefox */
          scrollbar-width: thin;
          scrollbar-color: rgba(137, 137, 137, 0.3) transparent;

          /* Chrome, Safari, Edge */
          &::-webkit-scrollbar {
            height: 1px; // горизонтальный скролл — делаем его тонким
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgba(137, 137, 137, 0.3);
            border-radius: 4px;
          }
        }

        a {
          font-size: 14px;
        }
      }
      &__products {
        &.grid {
          gap: 8px;
          .product__card {
            width: 32%;
          }
        }
        &.row {
          gap: 8px;
          .product__card {
            gap: 0;
            &-content {
              flex-direction: column;
              row-gap: 8px;
              padding: 8px;
            }
            &-footer {
              margin: 0;
              width: 100%;
              gap: 8px;
            }
            &-actions {
              margin-left: auto;
              max-width: 140px;
            }
            &-image {
              width: 120px;
              height: 120px;
              padding: 16px;
            }
          }
        }
      }
    }
    &-faq {
      &__wrapper {
        gap: 8px;
      }
      &__item {
        padding: 16px;
        &.is-active {
          .catalog-faq__item_text {
            padding: 16px;
          }
        }
        &_title {
          font-size: 16px;
        }
        &_text {
          font-size: 14px;
        }
      }
    }
  }

  .calculator__content  {
    gap: 16px;
    border-radius: 16px;
    padding: 16px 16px 0;
    &-head {
      h1 {
        font-weight: 600;
        margin: 0;
        white-space: nowrap;  
        width: fit-content;
      }
    }
    &-settings {
      flex-direction: column;
    }
    &-items {
      gap: 16px;
      padding: 16px;
      h4 {
        white-space: wrap;
        font-size: 16px;
        font-weight: 600;
      }
    }
    &-data {
      max-width: none;
      ul {
        li {
          span {
            font-size: 14px;
          }
        }
      }
    }
    &-consumption {
      b {
        font-size: 16px;
      }
      ul {
        li {
          p {
            font-size: 14px;
          }
          span {
            font-size: 14px;
          }
          b {
            font-size: 14px;
          }
        }
      }
    }
    &-form {
      padding: 16px;
      max-width: none;
      h4 {
        font-size: 16px;
        font-weight: 600;
      }
      form {
        gap: 8px;
        label {
          font-size: 14px;
        }
        input {
          padding: 11px 16px;
          font-size: 14px;
        }
      }
    }
  }

  .result__content {
    gap: 16px;
    &-calculation {
      gap: 16px;
      padding: 16px;
    }
    &-head {
      h4 {
        font-size: 16px;
        font-weight: 600;
      }
    }
    &-item {
      padding: 16px;
      h4 {
        font-size: 14px;  
        line-height: normal;
        b {
          font-size: 18px;
        }
      }
      &:last-child {
        .result__content-price {
          span {
            font-size: 18px;
          }
        }
      }
    }
    &-info {
      &_wrapper {
      gap: 8px;
      border-radius: 12px;
      }
    }
    &-price {
      span {
        font-size: 20px;
      }
    }
    &-banner {
      align-items: flex-start;
      flex-direction: column;
      padding: 16px;
      &_wrap {
        width: 100%;
        flex-direction: column;
        gap: 8px;
      }
      &_price {
        padding: 8px 16px;
        span {
          font-size: 16px;
        b {
          font-size: 18px;
        }
        }
      }
    }
    .btn {
      margin: 0 0 16px;
    }
  }
}

@media screen and (max-width: 570px) {
  .catalog {
    &-wrapper {
      &__products.grid {
        .product__card {
          width: calc(50% - 4px);
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .calculator__content-head {
    h1 {
      max-width: 293px;
      white-space: normal;
    }
  }
}
