@media (max-width: 1600px) {
    .dealers {
        &__wrapper {
            flex-direction: column;
            align-items: normal;    
        }
        &__banner {
            &-image {
                right: -1%;
            }
        }
        &__request {
            max-width: none;
            &-form {
                max-width: 550px;
            }
            &-image {
                left: 70%;
                top: 1%;
                max-width: 600px;
            }
            &-blur {
                left: 68%;
                top: 67%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .dealers {
        &__banner {
            padding: 65px 64px;
            &-desc {
                max-width: 552px;
            }
            &-image {
                left: 45%;
                right: 0;
            }
        }
        &__request {  
            &-form {
                max-width: 840px;
                &_wrap {
                    max-width: 616px;
                    grid-template-columns: repeat(2, 1fr);
                }
                &_actions {
                    display: flex;
                    flex-direction: row;
                }
            }
            &-image {
                left: 70%;
                top: -15%;
                max-width: 430px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-blur {
                left: 65%;
                top: 80%;
            }
        }
    }
}

@media (max-width: 900px) {
    .dealers {
        &__advant {
            &-list {
                grid-template-columns: repeat(2, 1fr);
            }
            &-item {
                &:last-child {
                    grid-column: span 2;
                }
            }
        }
    }
}

@media (max-width:  768px) {
    .dealers {
        padding: 8px 0 16px;
        &__content {
            gap: 32px;
            border-radius: 16px;
            padding: 16px;
        }
        &__banner {
            border-radius: 16px;
            padding: 195px 16px 16px;
            &-desc {
                align-items:center;
                gap: 16px;
                max-width: none;
            }
            &-title {
                h1 {
                    font-size: 19px;
                }
            }
            &-subtitle {
                span {
                    font-size: 13px;
                }
                & span:last-child {
                    align-self:center;
                    font-size: 14px;
                }
            }
            &-text {
                text-align: center;
            }
            &-image {
                top: 0%;
                // max-width: 420px;
                max-height: 230px;
                left: -10%;
                &::before {
                    content: "";
                    background: linear-gradient(
                        to top,
                        #f4f5f7 0%,
                        rgba(244, 245, 247, 0.9) 15%,
                        rgba(244, 245, 247, 0.6) 40%,
                        rgba(244, 245, 247, 0) 65%
                    );
                }
            }
        }
        &__steps {
            &-list {
                grid-template-columns: repeat(1, 1fr);
                gap: 8px;
            }
            &-item {
                padding: 16px;
                gap: 12px;
                border-radius: 16px;
                &_icon {
                    padding: 8px;
                }
                &:last-child {
                    grid-column: span 1;
                }
            }
        }
        &__advant {
            &-list {
                gap: 8px;
            }
            &-item {
                padding: 16px;
                gap: 12px;
                border-radius: 16px;
                &_icon {
                    padding: 7px;
                    max-width: 40px;
                }
            }
        }
        &__links {
            flex-direction: column;
            justify-content: unset;
            align-items: unset;
            text-align: center;
            a {
                padding: 7.1px 0;
                font-size: 14px;
                justify-content: center;
                &:first-child {
                    padding: 5.1px 24px;
                    svg {
                        width: 31px;
                        height: 28px;
                    }
                }
            }
        }
        &__request { 
            &-block {
                gap: 16px;
            }
            &-form {
                max-width: none;
                input {
                    padding: 10px 16px;
                    height: 40px;
                    font-size: 14px;
                }
                &_wrap {
                    max-width: none;
                    gap: 8px;
                    grid-template-columns: repeat(1, 1fr);
                }
                &_actions {
                    flex-direction: column;
                }
            }
            &-btn {
                padding: 10px 16px; 
                line-height: 1.3;
                font-size: 14px;
            }
            &-image {
                display: none;
            }
            &-blur {
                display: none;
            }
        }

        h4 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}



@media (max-width: 340px) {
    .dealers {
        &__advant {
            &-list {
                grid-template-columns: repeat(1, 1fr);
            }
            &-item {
                &:last-child {
                    grid-column: span 1;
                }
            }
        }
    }
}