@media  (max-width: 768px) {
    .leasing {
        padding-bottom: 16px;
        &__header {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h1 {
                font-size: 22px;
            }
        }
        &__wrapper {
            padding-top: 8px; //??
            flex-direction: column;
            gap: 16px;
            width: 100%;
        }
        &__content {
            border-radius: 16px;
            padding: 16px;
            width: auto;
        }
        &__advantages {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            &-feature {
                border-radius: 16px;
                padding: 16px;
                width: 296px;
                background: #f7f7f8;
                width: 100%;
            }
        }
        &__desc {
            p {
                border-radius: 16px;
                padding: 16px;
            }
        }
        &__row {
            flex-direction: column;
            gap: 32px;

            &-target {
                margin: 0;
                min-width: auto;
                ul {
                    gap: 8px;

                }
            }
            &-advantages {
                margin: 0;
                min-width: auto;
                ul {
                    gap: 8px;
                }
            }
        }
        &__partners {
            &-card {
                &-title {
                    font-size: 14px;
                }
            }
            .swiper-slide {
                border-radius: 16px;
                max-width: 188px;
            }
            &-image {
                width: 140px;
                height: 140px;
            }
            &-text {
                gap: 8px;
            }
        }
        &__steps {
            &-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 8px;
            }
            &-card {
                gap: 8px;
                border-radius: 16px;
                padding: 16px;
                width: auto;
                span {
                    font-size: 30px;
                }
                &:last-child {
                    grid-column: span 2;
                }
            }
        }
        &__products {
            &_prev, &_next {
                display: none;
            }
            &-card {
                border-radius: 16px;
                padding: 24;
                &_image {
                    height: 188px;
                }
            }
            &_link {
                font-size: 14px;
            }
        }

        &-faq {
            &__title {
                font-size: 18px;
            }
            &__wrapper {
            gap: 8px;
            }
            &__item {
            padding: 16px;

            &_subtitle {
                font-size: 16px;
            }

            &_text {
                font-size: 14px;
            }

            &.is-active {
                .leasing-faq__item_text {
                padding: 16px;
                margin-top: 8px;
                }
            }
            }
        }
        &__request {
            border-radius: 16px;
            padding: 16px;
            max-height: 440;
            &-form {
                width: 224px;
                gap: 8px;
                input {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            &-image {
                &_item {
                    position: absolute;
                    &[data-pos="1"] {
                        width: 167px;
                        height: 81px;
                        bottom: -40px;
                        right: -50px;
                        filter: blur(50px);
                    }
                    &[data-pos="2"] {
                        width: 168px;
                        height: 167px;
                        right: -36%;
                        bottom: -30%;
                        filter: blur(50px);
                    }
                    &[data-pos="3"] {
                        right: -32%;
                        top: 48%;
                        width: 167px;
                        height: 167px;
                    }
                    &[data-pos="4"] {
                        right: -45px;
                        bottom: -49px;
                        width: 167px;
                        height: 167px;
                    }
                    &[data-pos="5"] {
                        right: -40%;
                        bottom: -25%;
                        width: 168px;
                        height: 167px;  
                        filter: blur(50px);
                    }
                }
            }
            &-ribbon {
            position: absolute;
            padding: 0 8px;
            background: linear-gradient(45deg, #0071e3 0%, #76c8df 100%);
            transform: rotate(-15deg);
            width: 327px;

            bottom: -10px;
            right: -77px;
            &-text {
                font-size: 13px !important;
                line-height: 254%;
            }
            }
        }

        h4:not(.leasing__partners-card-title) {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}