@media (max-width: 1870px) {
  .leasing {
    &__content {
      width: 100%;
    }
    &__request {
      &-ribbon {
        min-width: 500px;
        bottom: -2%;
        left: 10%;
      }
    }
  }
}

@media (max-width: 1625px) {
  .leasing {
    &__wrapper {
      flex-direction: column;
    }
    &__request {
      min-width: 100%;
      max-width: none;
      &-form {
        max-width: 620px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .leasing__request-btn:nth-child(5),
        .feedback-popup_privacy:nth-child(6) {
          grid-column: span 2;
        }
      }
      &-feedback {
        input {
          top: 2px;
        }
      }
      &-image {
        &_item {
          &__blur {
            &:nth-child(1) {
              z-index: -1;
            }
            &:nth-child(2) {
              z-index: -1;
            }
          }
          &:nth-child(1) {
            z-index: -1;
            left: 87%;
            top: -26%;
            height: 320px;
            width: 320px;
          }
          &:nth-child(2) {
            z-index: -1;
            left: 75%;
            bottom: -15%;
            height: 320px;
            width: 320px;
          }
          &:nth-child(3) {
            z-index: -1;
            left: 89%;
            bottom: -24%;
            height: 320px;
            width: 320px;
          }
        }
      }
      &-ribbon {
        bottom: 10px;
        left: 70%;
      }
    }
  }
}


@media (max-width: 1024px) {
  .leasing {
    &__header {
      h1 {
        line-height: normal;
      }
      p {
        line-height: 1.29;
      }
    }
    &__row {

      &-target {
        padding-top: 43px;
        margin: 0;
        min-width: 440px;
      }
      &-advantages {
        ul {
          line-height: 1.28;
        }
      }
    }
    &__products {
      &-card {
        // &_image {
        //   min-height:211px;
        // }
        &_content {
          p {
            line-height: 1.28;
          }
        }
      }
      &_link {
        line-height: 1.13;
      }
    }
    &__request {
      &-form {
        .leasing__request-btn:nth-child(5),
        .feedback-popup_privacy:nth-child(6) {
          grid-column: span 2;
        }
      }
      &-image {
        &_item {
          &:nth-child(1) {
            left: 78%;
            top: -26%;
            width: 240px;
            height: 240px;
          }
          &:nth-child(2) {
            left: 71%;
            bottom: 6%;
            width: 240px;
            height: 240px;
          }
          &:nth-child(3) {
            width: 240px;
            height: 240px;
            left: 82%;
            bottom: -14%;
          }
        }
      }
      &-ribbon {
        bottom: 10px;
        left: 60%;
      }
    }
  }
}

@media (max-width: 1023px) {
    .leasing {
    &__row {
      flex-direction: column;

      &-target {
        padding: 0;
      }
    }
    &__steps {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
      &-item {
        max-width: none;
        &:last-child {
          grid-column: span 2;
        }
      }
    }
    &__request {
      &-image {
        &_item {
          &_blur {
            &:nth-child(1) {
              bottom: 70px;
              left: 87%;
              filter: blur(50px);
            }
            &:nth-child(2) {
              left: 87%;
              bottom: 1px;
              filter: blur(50px);
            }
          }
          &:nth-child(1) {
            left: 90%;
            top: -25%;
          }
          &:nth-child(2) {
            left: 85%;
            bottom: 10%;
          }
          &:nth-child(3) {
            left: 89%;
            bottom: -15%;
          }
        }
      }
      &-ribbon {
        bottom: -10px;
        right: -65px;
      }
    }
  }
}

@media  (max-width: 768px) {
  .leasing {
    padding-bottom: 16px;
    &__container {
      padding: 0 16px !important;
    }
    &__header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h1 {
        font-size: 22px;
      }
      p {
        font-weight: 400;
      }
    }
    &__wrapper {
      padding-top: 16px;
    }
    &__content {
      border-radius: 16px;
      padding: 16px;
    }
    &__advantages {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 8px;

      &-feature {
        border-radius: 16px;
        padding: 16px;
      }
    }
    &__desc {
      &-title{
        line-height: 1.28 !important;
      }
      p {
        border-radius: 16px;
        padding: 16px;
      }
    }
    &__row {
      gap: 32px;
      &-target {
        padding: 0;
        margin: 0;
        ul {
          gap: 8px;

        }
      }
      &-advantages {
        padding: 16px;
        margin: 0;
        ul {
          gap: 8px;
        }
      }
    }
    &__partners {
      &-card {
        &-title {
          font-size: 14px;
        }
      }
      &_slider {
        overflow: visible !important;
      }
      .swiper-slide {    // можно подогнать, чтобы видно было соседний слайд
        border-radius: 16px;
      }
      &-image {
        height: 140px;
        width: auto;  
      }
    }
    &__steps {
      &-list {
        gap: 8px;
      }
      &-item {
        gap: 8px;
        border-radius: 16px;
        padding: 16px;
        span {
          font-size: 30px;
        }
      }
    }
    &__products {
      &_slider {
        .swiper {
          overflow: visible;
        }
      }
      .swiper-slide {
        min-width: 188px !important;
      }
      &_prev, &_next {
        display: none !important;
      }
      &-card {
        &_image {
          min-height: 188px;
        }
      }
      &_link {
        font-size: 14px;
        line-height: 1.29;
      }
    }

    &-faq {
      &__title {
        font-size: 18px;
      }
      &__wrapper {
        gap: 8px;
      }
      &__item {
        padding: 16px !important;

        &_subtitle {
          font-size: 16px;
        }
      }
      }
      &__request {
            padding: 16px;
            &-title {
              max-width: 269px;
              line-height: 1.28;
            }
            &-form {
                display: flex;
                width: 300px;
                gap: 8px;
                input {
                    height: 40px;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            &-btn {
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.29;
            }
            &-feedback {
                line-height: 1.15 !important;
                margin-top: 8px !important;
                label {
                  top: 30px !important; 
                }
                input {
                  top: 15px;
                }
                span {
                  font-size: 12px;
                }
            } 
            &-image {
                &_item {
                    &_blur {
                    &:nth-child(1) {
                        width: 167px;
                        height: 81px;
                        bottom: -40px;
                        right: -50px;
                    }
                    &:nth-child(2) {
                        width: 168px;
                        height: 167px;
                        right: -36%;
                        bottom: -30%;
                    }
                    }
                    &:nth-child(1) {
                        left: 68%;
                        top: -10%;
                        width: 260px;
                        height: 260px;
                    }
                    &:nth-child(2) {
                        left: 63%;
                        top: 35%;
                        width: 260px;
                        height: 260px;
                    }
                    &:nth-child(3) {
                        left: 80%;
                        bottom: -5%;
                        width: 260px;
                        height: 260px;  
                    }
                }
            }
            &-ribbon {
            padding: 0 8px;
            width: 500px;

            bottom: 30px;
            left: 60%;
            &-text {
              font-size: 13px !important;
              line-height: 254%;
            }
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
    }
    h4:not(.leasing__partners-card-title) {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 576px) {
  .leasing {
    &__request {
        &-feedback {
          label {
            top: 20px !important; 
          }
          input {
            top: 15px;
          }
        } 
    }
  }
}

@media (max-width: 480px) {
  .leasing {
    &__request {
      form {
        width: 224px;
      }
      &-feedback {
        min-height: 90px;
        span {
          max-width: 149px;
        }
      }
      &-image {
        &_item {
          &_blur {
          }
          &:nth-child(1) {
            left: 63%;
            top: 45%;
            width: 167px;
            height: 167px;
          }
          &:nth-child(2) {
            left: 50%;
            top: 73%;
            width: 167px;
            height: 167px;
          }
          &:nth-child(3) {
            left: 74%;
            bottom: -18%;
            width: 168px;
            height: 167px;
          }
        }
      }
      &-ribbon {
        bottom: 7%;
        left: 35%;
      }
    }
  }
}

@media (max-width: 450px) {
  .leasing {
    &__request {
      &-feedback {
        label {
          top: 30px !important; 
        }
        input {
          top: 25px;
        }
      } 
      &-image {
        &_item {
          &:nth-child(1) {
            left: 77%;
            top: 50%;
          }
          &:nth-child(2) {
            left: 60%;
            top: 77%;
          }
          &:nth-child(3) {
            left: 89%;
            bottom: -20%;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .leasing {
    &__steps {
      &-list {
        display: flex;
        flex-direction: column;
      }
    }
  }
}