.leasing {
  display: flex;
  flex-direction: column;
  padding: 0 0 80px;
  &__container {
    padding: 0 40px !important;
  }
  &__header {
    h1 {
      font-weight: 600;
      font-size: 56px;
    }
    p {
      font-weight: 500;
      font-size: 24px;
    }
  }
  &__wrapper {
    padding-top: 32px;
    display: flex;
    align-items: flex-start;    
    gap: 16px;
  }
  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: calc(100% - 602px - 16px);  
    // width: 100%;
    border-radius: 32px;
    padding: 24px;
    height: auto;
    background: #fff;
  }
  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;

    &-feature {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 24px;
      padding: 24px;

      width: 100%;
      background: #f7f7f8;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      line-height: 1.28;
      border-radius: 24px;
      padding: 24px;
      background: #e2e3e9;
    }
  }
  &__row {
    display: flex;
    gap: 16px;
    align-items: stretch;

    &-target {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 8px 0 8px;
      width: 100%;
      ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }
    &-advantages {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 16px;
      padding: 24px;
      background: #f7f7f8;
      width: 100%;
      ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }
  &__partners {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-card {
      &-title {
        word-wrap: break-word;
        line-height: 1.28 !important;
        font-weight: 600;
        font-size: 18px;
      }
    }
    &_slider {
      width: 100%;
      .swiper-slide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 24px;
        padding: 24px; 
        background: #f7f7f8;
        height: auto;
      }
      P {
        line-height: 1.28;
      }
    }

    &-image {
      margin: 0 auto;
      width: 100%;
      max-width: 173px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h4 {
        line-height: 140%;
      }
      p {
        word-wrap: break-word;
      }
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-list {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr); 
      gap: 16px;
      width: 100% ;
    }
    &-item {
      flex: 1;
      word-wrap: break-word;  
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 24px;
      padding: 24px;
      background: #f7f7f8;
      height: auto;
      min-width: 0;
      span {
        font-weight: 600;
        font-size: 34px;
        color: #0071e3;
      }
      p {
        line-height: 1.28;
      }
    }
  }
  &__products {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_slider {
      width: 100%;
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-card {
      &_image {
        border-radius: 16px;
        padding: 24px;
        min-height: 280px;
        background: #f7f7f8;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain ;
        }
      }
      &_content {
        p {
          text-align: center;
          color: #2c3336;
        }
      }
    }
    &_next {
      right: -16px;
    }
    &_prev {
      left: -16px;
    }
    &_link {
      margin: 0 auto;
      border: 1px solid #e1e1e1;
      border-radius: 16px;
      padding: 10px 16px;
      height: auto;

      line-height: 1.07;
      font-weight: 500;
      font-size: 16px;
      color: #2c3336;
      transition: all .3s ease;
      &:hover {
        background-color: #E1E1E5;
      }
    }
  }
  &-faq {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__title {
      font-size: 32px;
      font-weight: 500;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__item {
      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
      }

      &_subtitle {
        font-weight: 500;
        font-size: 24px;
        color: #2C3336;
      }
    }
  }

    //aside
    &__request {  
        position: sticky;
        top: 150px;
        overflow: hidden;
        display: flex;

        // width: 100%;
        max-width: 602px;
        border-radius: 16px;
        padding: 24px;
        background: linear-gradient(143deg, #f0f1f4 0%, #c5c7d3 100%);
        z-index: 1;
        &-block {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &-title {
            font-weight: 500;
            font-size: 32px;
            line-height: 103%;
            color: #2c3336;
        }
        &-form {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            input {
                border-radius: 16px;
                border: none;
                outline: none; 
                padding: 16px;
                background: #fff;
                max-height: 48px;
                font-weight: 500;
                font-size: 16px;
                &::placeholder {
                    color: #cdd1d2;
                }
                &:not(:placeholder-shown) {
                    color: #2C3336;
                }
            }
        }
        &-btn {
            border-radius: 16px;
            border: none;
            padding: 11px 24px; 
            background: #0071e3;

            height: auto;
            line-height: 1.63;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
        }
        &-feedback {
          text-align: left;
          span {
            display: inline-block;
          }
        }
        &-image {
            &_item {
                position: absolute;
                &_blur {
                    position: absolute;
                    &:nth-child(1) {
                        height: 117px;
                        width: 240px;
                        z-index: -3;
                        bottom: 70px;
                        right: 50px;
                        filter: blur(50px);
                    }
                    &:nth-child(2) {
                        width: 240px;
                        height: 240px;
                        z-index: -3;
                        right: -70px;
                        bottom: 1px;
                        filter: blur(50px);
                    }
                }
                &:nth-child(1) {    
                    z-index: -2;
                    left: 68%;
                    top: 40px;
                    width: 240px;
                    height: 240px;
                }
                &:nth-child(2) {
                    z-index: -2;
                    left: 52%;
                    bottom: 100px;
                    width: 240px;
                    height: 240px;
                }
                &:nth-child(3) {
                    z-index: -2;
                    left: 74%;
                    bottom: 1px;
                    width: 240px;
                    height: 240px;
                }
            }
        }
        &-ribbon {
        z-index: -1;
        position: absolute;
        padding: 2px 8px;
        background: linear-gradient(45deg, #0071e3 0%, #76c8df 100%);
        transform: rotate(-15deg);
        max-width: 500px;

      bottom: 20px;
      right: -83px;
      &-text {
        font-weight: 800 !important;
        font-size: 20px !important;
        line-height: 165%;
        letter-spacing: 0.1em;
        color: #fff;
      }
    }
  }

  &__advantages{
    &-icon {
      height: 36px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: #0071e3;
  }
  h4:not(.leasing__partners-card-title, .leasing__request-ribbon-text, .leasing__request-title) {
    font-weight: 500;
    font-size: 32px;
    line-height: normal;
  }
  .feedback-popup_privacy {
    margin: 0;
    input {
      background: transparent;
    }
  }
}
