
@media (max-width: 1250px) {
    .faq {
        &__feedback {
            img {
            left: 65%;
            }
        }
    }
}

@media  (max-width: 1024px) {
    .faq {
        &__wrapper {
            position: relative;
            flex-direction: column; 
        }
        &__content {
            order: 2;
        }
        &__aside {
            max-width: 100%;
            display: contents;
        }
        &__nav {
            width: 100%;
            order: 1;
        }
        &__feedback {
            width: 100%;
            order: 3;
            img {
            position: absolute;
            left: 75%;
            top: -1px;
            }
            &-form {
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 669px;
                input {
                    max-width: 200px;
                }
            }
        }
    }
}

@media (max-width: 986px) {.faq {&__feedback { img { left: 80%;}}}}

// @media (max-width: 878px) {.faq {&__feedback {img {left: 85%;}}}}

@media  (max-width: 768px) {
    .faq {
        padding-bottom: 16px;
        &__title {
            margin-bottom: 16px;
            h1 {
                font-weight: 600;
                font-size: 22px;
            }
        }   
        &__container {
            padding: 0 16px;
        }
        &__wrapper {
            gap: 0;
        }
        &__content {
            gap: 16px;

            border-radius: 0 0 16px 16px;
            padding: 16px;
            margin-bottom: 16px;
        }
        &__category {
            padding-bottom: 16px;

        &-title {
            font-size: 22px;
            font-weight: 600;
        }
        &-wrapper {
            gap: 8px;
        }
        &-item {
            padding: 16px;
            border-radius: 16px;

        &_subtitle {
            font-size: 16px;
        }
        }
        }
        &__nav {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 16px;
            line-height: 1.25;
            ol {
                gap: 16px;
            }
            &-link {
                flex-direction: column;
                align-items: flex-start;

                border-radius: 16px;
                padding: 16px;
                background: #f7f7f8;
                
                &:active {
                    .faq__nav-title {
                    color: inherit;
                    }
                    .faq__nav-icon {
                    background: #0071e3; 
                    color: #fff;        
                    }
                    .faq__nav-icon svg path {
                    fill: currentColor;  
                    }
                }
                .faq__nav-icon {
                    background: #0071e3; 
                    color: #fff; 
                }
                .faq__nav-icon svg path {
                    fill: currentColor;
                }
            }
            &-icon {
                background: #0071e3;
            }
            &-text {
                justify-content: space-between;
                svg {
                    display: block;
                }
            }
            &-title {
                flex: 1;
                font-weight: 500;
                font-size: 16px;
            }
        } 
        &__feedback {
            line-height: 1.04;
            padding: 16px;
            gap: 16px;
            h3 {
            font-size: 18px;
            span {
                font-weight: 500;
            }
            }
            img {
            width: 300px;
            height: 300px;

            position: absolute;
            left: 67%;
            top: 15%;
            }
            &-form {
                max-width: 320px;
                input {
                    min-width: 320px;
                    height: 40px;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            &_link {
            min-width: 320px;
            font-size: 14px;
            padding: 11px 24px;
            max-height: 40px;
            }
            &-privacy {
                height: 90px;
                label {
                    top: 30px !important;
                }
                span {
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }
}

@media  (max-width: 578px) {
    .faq {
        &__feedback {
            // img {
            // left: 83%;
            // }
            &-privacy {
                label {
                    top: 15px !important;
                }
            }
        }
    }
}


@media  (max-width: 480px) {
    .faq {
        &__feedback {
            img {
            width: 200px;
            height: 200px;

            left: 68%;
            top: 37%;
            }
            &-form {
                max-width: 230px;
                input {
                    min-width: auto;
                    max-width: 224px;
                    width: 100%;
                }
            }
            &_link {
            min-width: auto;
            max-width: 224px;
            width: 100%;
            }
            &-privacy {
                label {
                    top: 30px !important;
                }
            }
        }
    }
}

@media  (max-width: 425px) {
    .faq {
        &__feedback {
            img {
            left: 71%;
            }
        }
    }
}



