.faq {
    padding-bottom: 80px;
    &__title {
        margin-bottom: 32px;
        h1 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 56px;
            color: #2c3336;
            line-height: normal;
        }
    }
    &__wrapper {
        display: flex;
        gap: 16px;
        align-items: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        background: #fff;
        border-radius: 32px;
        padding: 24px;
        line-height: 1.21;
    }
    &__category {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-bottom: 1px solid #e1e1e5;
        padding-bottom: 41px;

        &:last-child {
            border-bottom: none;
        }
    &-title {
    font-size: 32px;
    font-weight: 500;
    }
    &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    }
    &-item {
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    &_subtitle {
        font-weight: 500;
        font-size: 24px;
        color: #2C3336;
    }

    // &_arrow {
    //     color: #2C3336;
    //     transition: transform 0.35s ease, color 0.35s ease;
    // }

    // &_text {
    //     background: #fff;
    //     padding: 0 24px;
    //     margin-top: 0;
    //     font-size: 18px;
    //     color: #70828A;
    //     border-radius: 16px;

    //     line-height: 1.28;
    //     max-height: 0;
    //     overflow: hidden;
    //     opacity: 0;

    //     transition:
    //             max-height 0.45s ease,
    //             opacity 0.25s ease,
    //             padding 0.35s ease,
    //             margin 0.35s ease;
    // }
    }
    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 16px;

        width: 100%;
        max-width: 602px;

            position: sticky;
            top: 150px; 
            align-self: flex-start; 
    }
    &__nav {
        box-sizing: border-box;
        border-radius: 16px;
        padding: 24px;
        background: #fff;
        ol {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0;
            margin: 0;
        }
        &-link {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;
            min-height: 40px;
            
            &.active {
                .faq__nav-title {
                    color: #0071e3;
                }

                .faq__nav-icon {
                    background: #0071e3;
                    color: #fff;
                }

                .faq__nav-icon svg path {
                    fill: currentColor;
                }

                .faq__nav-text {
                        color: #0071e3;
                }
            }
        }
        &-icon {
            padding: 8px;
            border-radius: 8px; 
            background: #e2e3e9;
            width: 40px;
            height: 40px;
            color: #2c3336; // важно!
        }
        &-text {
            display: flex;
            align-items: center;
            gap: 16px;
            svg {
                display: none;
            }
        }
        &-title {
            font-weight: 400;
            font-size: 18px;
            color: #2c3336;
        }
        li {
            list-style: none;
        }
    } 

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;

        background: linear-gradient(161.01deg, #F0F1F4 19.88%, #C5C7D3 100.56%);
        border-radius: 16px;
        overflow: hidden;

        position: relative;
        h3 {
        font-weight: 500;
        font-size: 32px;
        line-height: 103%;
        span {
            font-weight: 600;
        }
        }
        img {
        position: absolute;
        left: 62%;
        top: 80px;
        }
        &-form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            max-width: 300px;
            input {
                border-radius: 16px;
                border: none;
                outline: none; 
                padding: 16px;
                background: #fff;
                height: 48px;
                font-weight: 500;
                font-size: 16px;
                &::placeholder {
                    color: #cdd1d2;
                }
                &:not(:placeholder-shown) {
                    color: #2C3336;
                }
            }
        }
        &_link {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        max-height: 48px;
        height: auto;
        width: auto;
        color: #fff;
        background: #0071e3;

        padding: 14px 24px;
        border: none;
        border-radius: 16px;
        }
    }

    .feedback-popup_privacy {
    margin: 0;
    input {
      background: transparent;
    }
  }
}
