.accordion-item {
        padding: 24px;
    background: #f7f7f8;
    border-radius: 16px;
    cursor: pointer;

        &.is-active {
        background: #f7f7f8;
        .accordion-item_text {
        max-height: 500px; // с запасом
        opacity: 1;
        padding: 24px;
        margin-top: 16px;
        }

        .accordion-item_arrow {
        transform: rotate(180deg);
        color: #0071E3;
        }
    }
    &_arrow {
        color: #2C3336;
        transition: transform 0.35s ease, color 0.35s ease;
    }

    &_text {
        background: #fff;
        padding: 0 24px;
        margin-top: 0;
        font-size: 18px;
        color: #70828A;
        border-radius: 16px;

        line-height: 1.28;
        max-height: 0;
        overflow: hidden;
        opacity: 0;

        transition:
                max-height 0.45s ease,
                opacity 0.25s ease,
                padding 0.35s ease,
                margin 0.35s ease;
    }
}

@media  (max-width: 768px) {
    .accordion-item {
        &_text {
            font-size: 14px;
        }
        &.is-active {
            .accordion-item_text {
                padding: 16px;
                margin-top: 8px;
            }
        }   
    }
}