.catalog{
    padding-bottom: 48px;
    &_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 32px;
    }
    &-page {
      padding-bottom: 80px;
    }

    &_list{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &_item{
        width: calc(100% / 4 - 16px);
        min-width: 270px;
        flex-grow: 1;
        border-radius: 32px;
        overflow: hidden;
        background: #F7F7F8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 46px;
        position: relative;
        height: 500px;
        transition: all .3s ease;

        &:hover{
            background: #E2E3E9;
        }

        h4{
            padding: 32px 32px 0;
            // hyphens: auto;
        }
        &-img{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 56px;
        }
        &-btn{
            width: 50px;
            height: 50px;
            border-radius: 16px;
            box-shadow: 0px 4px 8px 0px #0000000F;
            background-color: #FFF;
            position: absolute;
            bottom: 24px;
            right: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

@media (max-width: 767px) {
    .catalog{
        padding: 0 0 60px;
        position: relative;
        &_header{
                margin-bottom: 16px;
            }
        .view-all-btn{
            position: absolute;
            bottom: 16px;
            right: 50%;
            transform: translateX(50%);
        }

        &_list{
            gap: 8px;
        }
        &_item{
            width: calc(100% / 2 - 8px);
            height: 295px;
            min-width: 155px;
            border-radius: 16px;
            
            
            h4{
                padding: 16px 16px 0;
            }
            &-img{
                width: 199px;
                height: 199px;
                position: absolute;
                top: 72px;
                left: 50%;
                transform: translateX(-50%);
            }
            &-btn{
                width: 40px;
                height: 40px;
                bottom: 16px;
                right: 16px;
                color: #2C3336;

                svg{
                    color: #2C3336;
                    width: 7px;
                    height: 14px;
                }
            }
        }
    }
    
    .subcategories {
      padding-bottom: 16px;
    }
}
