.pagger {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 40px 0 0 0;
  ul {
    margin: 0;

    display: flex;
    align-items: center;
    gap: 8px;
  }
  li {
    border-radius: 16px;
    overflow: hidden;
  }
  li.active, a.active {
    border-color: #0071E3;
    background-color: #0071E3;
    color: #fff;
  }
  a {
    border: 1px solid #E1E1E1;
    border-radius: 16px;
  }
  a, span {
    display: inline-block;
    padding: 10px 16px;
    color: inherit;
  }
}