.pagger {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 40px 0 0 0;
  ol {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 8px;
  }
  > a {
    transition: background .3s ease, border-color .3s ease;
    &:hover {
      background: #1087fe !important;
      border-color: #1087fe !important;
    }
  }
  li {
    border-radius: 16px;
    overflow: hidden;
  }
  li.active, a.active {
    border-color: #0071E3;
    background-color: #0071E3;
    color: #fff;
  }
  a {
    border: 1px solid #E1E1E1;
    border-radius: 16px;
  }
  a, span {
    display: inline-block;
    padding: 8.5px 15px;
    color: inherit;
  }
}