.product {
  &__card {
    &-slider {
      width: 100%;
      padding-top: 40px;
    }
  }

  &__card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__card-title {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    color: #2C3336;
    flex: 1;
  }

  &__card-nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__card-nav-btn {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    transition: opacity 0.2s ease;
    padding: 0;
    color: #2C3336;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 8px;
      height: 16px;
      display: block;
    }
  }

  &__card-swiper {
    width: 100%;
    .swiper-slide{
      width: 293px;
    }
  }

  &__card-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__card-info {
    display: block;
    margin-top: 24px;
  }

  &__card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    background: white;
    border-radius: 20px;
    height: 293px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  &__card-name {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: #2C3336;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__card-spec {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #70828A;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: 24.5px;
  }

  &__card-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.275em;
    color: #2C3336;

    span {
      font-weight: 100;
    }
    &.sale {
      .price-new {
        color: #FF3249;
        line-height: 1;
      }
      .price-old {
        font-size: 13px;
        color: #70828A;
        text-decoration: line-through;
        line-height: 1;
      }
    }
  }

  &__card-actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__card-compare,
  &__card-favorite {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
    &:hover{
      svg {
        color: #0071E3;
      }
    }
    &.active {
      svg {
        color: #0071E3;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: #E3E3E4;
      transition: color 0.2s ease;
    }
  }


  &__card-cart {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E1E1E1;
    border-radius: 16px;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;

    &:hover,
    &:active,
    &.active {
      background: #0071E3;
      border-color: #0071E3;

      svg {
        color: #FFFFFF;
      }
    }

    &:active {
      opacity: .7;
    }

    svg {
      width: 24px;
      height: 24px;
      color: #2C3336;
      transition: color 0.2s ease;
    }
  }
}