.slider__next , .slider__prev {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    z-index: 2;

    width: 52px;
    height: 52px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 #0000000F;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
    border: none;
    color: #2C3336;
}