.videos{
  padding-bottom: 48px;
    &_header{
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        margin-bottom: 40px;

        a{
            display: flex;
            align-items: center;
            gap: 16px;
            font-family: 'Onest';
            font-weight: 600;
            font-size: 56px;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 5%;
            text-decoration-skip-ink: auto;
            color: #0071E3;

        }
    }

    &_list{

      .swiper-pagination{
        display: none;
      }
    }
    &_item{
        border-radius: 32px;
        padding: 32px;
        width: 100%;
        min-width: 448px;
        height: 600px;
        // aspect-ratio: 1/1;
        overflow: hidden;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #FFFFFF;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
        .video-play-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 210px;
            height: 210px;
            border-radius: 50%;
            z-index: 2;
            cursor: pointer;
            overflow: hidden;

            svg{
              width: 100%;
              height: 100%;
              border-radius: 50%;
              box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);

              
            }
        }
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        .videos-time{
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.2);
            padding: 4px 8px;
            width: max-content;
            margin-top: 14px;
        }
        .videos-title,
        .videos-time{
            position: relative;
            z-index: 2;
        }
    }
}

.fancybox__content {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  
      video {
      width: calc(100% - 80px) !important;
      height: calc(100% - 80px) !important;
      object-fit: cover !important;
      margin: 40px !important;
      border-radius: 40px !important;
      overflow: hidden;
    }
}

.fancybox__slide {
  border-radius: 40px !important;
  overflow: hidden !important;
}

  .fancybox__container {
    padding: 80px !important;
  }

  .fancybox__container:has(video) {
    padding: 0 !important;
  }

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
  padding-top: 0 !important;
}

.fancybox__container:not(.is-compact) .fancybox__slide {
  padding: 0 !important;
}



.fancybox__toolbar {
  position: absolute !important;
  top: 90px !important;
  right: 90px !important;
  z-index: 1000 !important;
  background: transparent !important;
  border-radius: 8px !important;
  padding: 8px !important;
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.fancybox__toolbar__column {
  button:first-child,
  button:nth-child(2){
    display: none !important;
  }
  .f-button{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2) !important;
    color: #FFFFFF !important;
    border-radius: 16px;
  }
}
.fancybox__container .fancybox__button--close {
  position: relative !important;
  margin: 0 !important;
  padding: 0 !important;
}
.fancybox__content>.f-button.is-close-btn{
  background: rgba(255, 255, 255, 0.2);
  top: 70px !important;
  right: 70px !important;
  color: #FFFFFF !important;
  border-radius: 16px;
  width: 40px;
  height: 40px;
}
  //.fancybox-image{
  //  object-fit: cover !important;
  //}

@media (max-width: 1440px) {
  .videos .swiper-slide{
    width: 448px;
  }
  
}
@media (max-width: 767px) {
  .videos_header{
    gap: 12px;
    a{
      font-size: 32px;
      svg{
        display: none;
      }
    }
  }
}
@media (max-width: 576px) {
  .videos{
    padding: 16px 0;

    &_header{
      margin-bottom: 16px;
      gap: 8px;

      a{
        font-size: 22px;
      }
    }
    .swiper-slide{
      width: 260px;
    }
    &_list{
      padding-bottom: 40px ! important;

      .swiper-pagination{
        display: flex;
      }
    }
    &_item{
      min-width: unset;
      height: 348px;
      border-radius: 24px;
      padding: 24px;
      font-size: 14px;
      font-weight: 400;

      .video-play-btn{
        width: 138px;
        height: 138px;
      }
      .videos-time{
        margin-top: 10px;
      }
    }
  }
  
}
