@use '../blocks';
@use '../media';

//Onest font
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:active, /* активная/посещенная ссылка */ 
a {
  text-decoration: none;
  color: inherit;
  //color: var(--main-color);
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
button{
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px; 
  &.lock {
    overflow: hidden;
  }
}

body {
  font-family: "Onest", sans-serif;
  overflow-x: hidden;
  color: #2C3336;
  cursor: default;
  position: relative;
  scroll-behavior: smooth;
  // text-rendering: optimizeSpeed;
  // background-color: #F7F7F8;
  background-color: #FFF;
  line-height: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
}


.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 34px;
}

.main {
  min-height: 100vh;
  overflow: hidden;
}
.page-content{
    background-color: #f7f7f8;
}

.lock {
  overflow: hidden;
}

.burger-menu {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
h2{
  font-weight: 600;
  font-size: 56px;
  color: #2C3336;
}
h4{
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #2C3336;
}
p{
  font-weight: 400;
  font-size: 18px;
  color: #70828A;
}

.kroshki {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 32px 0 8px 0;
  width: auto;
  color: #70828A;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  a {
    text-decoration: none;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #E1E1E5;
    transition: all .2s ease;
    height: 24px;
    &:hover {
      background-color: #E1E1E5;
    }
  
    }
    span{
      width: 100%;
      display: -webkit-box;
        -webkit-line-clamp: 1; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.page__title {
  color: #2C3336;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 12px;
}
.btn{
  padding: 14.5px 24px;
  background: #0071E3;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFF;
  border: none;
  transition: .3s ease;
  white-space: nowrap;
  height: 52px;
  cursor: pointer;

  &:hover{
    background: #1087FE;
  }
}
.primary-btn{
  padding: 14.5px 24px;
  color: #0071E3;
  border: 1px solid rgba(0, 113, 227, 0.5);
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  transition: .3s ease;
  white-space: nowrap;
  height: 52px;
  cursor: pointer;

  &:hover{
    background: #0071E3;
    color: #FFF;
  }
}
.view-all-btn{
  font-weight: 500;
  font-size: 18px;
  color: #0071E3;
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}
 .swiper-pagination{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .swiper-pagination-bullet{
        width: 7px !important;
        height: 7px !important;
        border-radius: 50%;
        background-color: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background-color: #0071E3;
    }
@media screen and (max-width: 992px) {
 h2{
  font-size: 46px;
 }
 h4{
  font-size: 20px;
 }
  .kroshki {
    padding: 12px 0 8px 0;
  }
  
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  h2{
    font-size: 32px;
  }
  h4{
    font-size: 18px;
  }
  .page__title {
    font-size: 36px;
  }
  .view-all-btn{
      height: 36px;
            gap: 8px;
            border-radius: 16px;
            border: 1px solid #0071E333;
            font-size: 14px;
            font-weight: 500;
            padding: 9px 15px;

            svg{
                width: 6px;
                height: 11px;
            }
  }
  .btn{
    font-size: 14px;
    padding: 10px 20px;
    height: 40px;
    line-height: normal;
  }
  .primary-btn{
    font-size: 14px;
    padding: 10px 20px;
    line-height: normal;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  h2{
    font-size: 22px;
  }
  h4{
    font-size: 14px;
  }
  .page__title {
    font-size: 32px;
  }
  .kroshki {
    a {
      font-size: 12px;
    }
  }
  .swiper-pagination{
    gap: 8px;
  }
  p{
    font-size: 14px;
  }
  .btn{
    padding: 11px 16px;
  }
}

