

@media (max-width: 1024px) {
  .search {
    &-aside {
        content: '';
        inset: 0;

        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(68px);

      opacity: 0;
      transition: opacity .25s ease;
      position: fixed;
      z-index: 100;
      max-width: 100%;
      visibility: hidden;
      pointer-events: none;

      transition:
          opacity .25s ease,
          transform .25s ease,
          visibility .25s;
      &__wrapper {
        width: 100%;
        max-width: 328px;
        overflow: auto;

        position: absolute;
        gap: 0;
        top: 20px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 16px;
      }

      &__ads {
        width: 100%;
        border-radius: 0 0 16px 16px;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
    &-filter {
      margin: 0;
      border-radius: 16px 16px 0 0;
      &__close {
        display: block;
      }
      &__mobile-toggle {
        display: flex;
      }
    }
    &-content  {
      .search__products.grid .product__card {
        width: calc(50% - 8px);
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search {
    padding-bottom: 16px;
    gap: 16px;
      &-head {
        h1 {
            font-size: 22px;
        }
        h4 {
            font-size: 14px;
        }
      }
    &-divider {
      margin: 16px 0;
    }
    &-top {
      margin-bottom: 8px;
      &__title {
        margin-bottom: 16px;
      }
      &__item {
        max-width: 222px;
        padding: 16px;
        img {
          max-width: 91px;
          max-height: 91px;
        }
        &_content {
          gap: 8px;
          font-size: 13px;
        }
      }
    }
    &-adv {
      height: 110px;
      margin-bottom: 0;
    }
    &-sort {
      width: 171px;
      font-size: 14px;
    }
      &-categories {
        display: none;

      &_mobile.swiper {
        margin-top: 24px;
        display: block;
        overflow: visible;
        margin-left: unset;
        margin-right: unset;
        ul {
          margin: 0;  
          .swiper-slide {
            width: auto;
          }
          li {
              a {
                  display: flex;
                  gap: 8px;
                  font-size: 16px;
                  padding: 8.5px 16.5px;
                  border-radius: 16px;
                  border: 1px solid #E1E1E1;
                  transition: background-color .3s ease;
                  white-space: nowrap;
                  height: 40px;
                  span {
                      border-radius: 8px;
                      padding: 2px 7px;
                      background: #e1e1e5;
                      font-size: 14px;
                      color: #70828a;
                  }
                  &.active {
                  border-color: #0071E3;
                  background: #0071E3;
                  color: white;
                  font-weight: 500;
                  &:hover {
                      background: #1087FE;
                  }
                  }
                  &:hover {
                  background: #ededed;
                  }
              }
          }
        }
      }
      }
      &__products {
        &.grid {
          gap: 8px;
          .product__card {
            width: 32%;
          }
        }
        &.row {
          gap: 8px;
          .product__card {
            gap: 0;
            &-content {
              flex-direction: column;
              row-gap: 8px;
              padding: 8px;
            }
            &-footer {
              margin: 0;
              width: 100%;
              gap: 8px;
            }
            &-actions {
              margin-left: auto;
              max-width: 140px;
            }
            &-image {
              width: 120px;
              height: 120px;
              padding: 16px;
            }
          }
        }
      }
      .pagger {
        padding: 16px 0 0 0 ;
      }
  }
}

@media screen and (max-width: 570px) {
  .search {
    &-content {
      .search__products.grid {
        .product__card {
          width: calc(50% - 4px);
        }
      }
    }
  }
}

@media screen and (max-width: 342px) {
  .search {
    &-sort {
      font-size: 12px;
      &::before {
      content: '';
      height: 250%;
      }
    }
  }
}

